.banner-img {
  background-image: url("../../../assets/images/about/sub-banner-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 520px;
}

.who-we-are-img {
  border-radius: 0px 50px 0px 50px;
  border: 5px solid #ffffff;
  box-shadow: -15px 15px 100px -53px rgba(0, 0, 0, 0.5);
}